<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Capstone Suite" parallel="methods" thread-count="2">

    <test name="UI Tests">

        <classes>

            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.CreateNoteTest"/>
            <class name="tests.ui.DeleteNoteTest"/>
            <class name="tests.api.GetNotesApiTest"/>

        </classes>

    </test>

</suite>